/* Fade-in */
.fade-in {
  animation: fadein 0.5s;
}

@keyframes fadein {
  from {
    opacity: 0.5;

  }

  to {
    opacity: 1;
  }
}

.fade-in-down {
  animation: fade-in-down 0.5s;
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translateY(-10%);

  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Spinner  */
.loader {
  border-top-color: var(--color-primary-700);
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

/* Spinner  */
.loader-orange {
  border-top-color: #eeb752;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}