@import "https: //cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css";
@import "./tailwind.css";

input {
  border: solid 1px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-gothic {
  font-family: 'Noto Sans SC', source-code-pro, Menlo, Monaco, Consolas, 'Courier New' !important
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Flex */
.flex {
  display: flex;
}

.flex-colunm {
  display: flex;
  flex-direction: column;
}


.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.align-center {
  align-self: center;
}

/* White Space */
.pre-line {
  white-space: pre-line;
}


/* Padding */
.pad-xl {
  padding: 36px;
}

.pad-l {
  padding: 24px;
}

.pad-m {
  padding: 20px;

}

.pad-s {
  padding: 16px;

}

.pad-xs {
  padding: 8px;
}

.pad-xxs {
  padding: 4px;
}

.px-l {
  padding-left: 24px;
  padding-right: 24px;
}

.px-m {
  padding-left: 20px;
  padding-right: 20px;
}

.px-s {
  padding-left: 16px;
  padding-right: 16px;
}

.py-s {
  padding-top: 16px;
  padding-bottom: 16px;
}

.pb-xl {
  padding-bottom: 36px;
}

.pb-l {
  padding-bottom: 24px;
}

.pb-m {
  padding-bottom: 20px;
}

.pb-s {
  padding-bottom: 16px;
}

.pb-xs {
  padding-bottom: 8px;
}

.pb-sub-s {
  padding-bottom: 12px;
}

.pb-xxs {
  padding-bottom: 4px;
}


.pt-l {
  padding-top: 24px;
}

.pt-m {
  padding-top: 20px;
}

.pt-s {
  padding-top: 16px;
}

.pt-xs {
  padding-top: 8px;
}

.pt-sub-s {
  padding-top: 12px;
}

.pt-xxs {
  padding-top: 4px;
}



.pr-l {
  padding-right: 24px;
}

.pr-m {
  padding-right: 20px;
}

.pr-s {
  padding-right: 16px;
}

.pr-xs {
  padding-right: 8px;
}

.pr-sub-s {
  padding-right: 12px;
}

.pr-xxs {
  padding-right: 4px;
}

/* Font Size*/
.font-large {
  font-size: 24px;
}

.font-medium {
  font-size: 20px;
}

.font-body {
  font-size: 16px;
}

.font-small {
  font-size: 14px;
}

/* Font Color */
.font-primary {
  color: #F44483;

}

.font-gray-1 {
  color: #111111;
}

.font-gray-2 {
  color: #5c5c5c;
}

.font-gray-3 {
  color: #9d9b9b;
}

.font-gray-4 {
  color: #a6a6a6;
}

.font-gray-5 {
  color: #e8e8e8;
}


/* Border Color */
.border-gray-1 {
  border-color: #111111;
}

.border-gray-2 {
  border-color: #5c5c5c;
}

.border-gray-3 {
  border-color: #9d9b9b;
}

.border-gray-4 {
  border-color: #a6a6a6;
}

.border-gray-5 {
  border-color: #e8e8e8;
}

/* Background Color */
.bg-gray-1 {
  background-color: #111111;
}

.bg-gray-2 {
  background-color: #5c5c5c;
}

.bg-gray-3 {
  background-color: #9d9b9b;
}

.bg-gray-4 {
  background-color: #a6a6a6;
}

.bg-gray-5 {
  background-color: #e8e8e8;
}

.bg-gray-6 {
  background-color: #faf8f8;
}

.bg-white {
  background-color: white;
}

.bg-lightpink {
  background-color: #FAEFF4;
}

/* Margin */

.margin-center {
  margin: 0 auto;
}


.mb-l {
  margin-bottom: 24px;
}

.mb-m {
  margin-bottom: 20px;
}

.mb-s {
  margin-bottom: 16px;
}

.mb-xs {
  margin-bottom: 8px;
}

.mb-sub-s {
  margin-bottom: 12px;
}

.mb-xxs {
  margin-bottom: 4px;
}

.mr-l {
  margin-right: 24px;
}

.mr-m {
  margin-right: 20px;
}

.mr-s {
  margin-right: 16px;
}

.mr-xs {
  margin-right: 8px;
}

.mr-sub-s {
  margin-right: 12px;
}

.mr-xxs {
  margin-right: 4px;
}



/* Font Weight */
.weigth-bold {
  font-weight: bold;
}

.weigth-700 {
  font-weight: 700;
}

.weigth-400 {
  font-weight: 400;
}

.weigth-500 {
  font-weight: 500;
}

.weigth-300 {
  font-weight: 300;
}

/* Button */
.btn-primary {
  color: white;
  border: 0px;
  background: #F44483;
  border-radius: 6px;
  padding: 10px 40px;
}

.btn-white {
  color: #ff005b;
  border: 0px;
  background: #ffecf3;
  border-radius: 6px;
  padding: 10px 40px;
}


/* Text Align */
.text-right {
  text-align: right;
}


/* Cursor*/
.pointer {
  cursor: pointer;
}


/*  */
.text-center {
  text-align: center;
}


/* Width */
.width-100 {
  width: 100%;
}

.max-width {
  max-width: 860px;
}



/* Border */

.radius-10 {
  border-radius: 10;
}