@import "https: //cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css";
@import "./tailwind.css";
@import "./firework.css";
@import "./animation.css";

:root {
  --color-primary-600: #31cfca;
  --color-primary-700: #1fb8b4;
  --color-gray-200: rgb(229, 231, 235);
  --color-gray-300: rgb(209, 213, 219);
  --color-gray-400: rgb(156, 163, 175);
  --color-gray-500: rgb(107, 114, 128);
  --color-gray-600: rgb(75, 85, 99);
  --color-white: white;
}


main {
  min-width: 320px;
  min-height: calc(100vh - 45px);
}

button:disabled {
  background-color: var(--color-gray-300) !important;
}

html {
  scroll-behavior: smooth;
  /* -webkit-overflow-scrolling: none; */
}

input {
  border: solid 1px;
}

body {
  min-height: 100vh;
  background-color: #fbf9f3;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-gothic {
  font-family: 'Noto Sans SC', source-code-pro, Menlo, Monaco, Consolas, 'Courier New' !important
}

.font-cute {
  font-family: 'Poor Story', cursive;

}


.border-1 {
  border-width: 1px;
}

.shadow-custom {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fit-h {
  height: fit-content;
}

.fit-w {
  width: fit-content;
}

section {
  max-width: 860px;
  margin: 0 auto;
}

.text-primary-200 {
  color: #d5fffe;
}

.text-primary-300 {
  color: #53cfc8;
}

.text-primary-500 {
  color: #53cfc8;
}

.text-primary-600 {
  color: #31cfca;
}

.text-primary-700 {
  color: #00b6b0;
}

.bg-primary-200 {
  background-color: #c9e9ec;
}

.bg-primary-300 {
  background-color: #aae7ec;
}

.bg-primary-500 {
  background-color: #8ddcdc;
}

.bg-primary-600 {
  background-color: #5bb09f;
}

.bg-primary-700 {
  background-color: #1fb8b4;
}

.bg-brown-200 {
  background-color: #EBC9B8;
}

.bg-brown-300 {
  background-color: #EBC9B8;
}

.bg-brown-500 {
  background-color: #a67862;
}

.bg-brown-600 {
  background-color: #976d59
}

.bg-brown-700 {
  background-color: #5e4337
}

.bg-basic-100 {
  background-color: #fbf9f3;
}


.border-primary-500 {
  border-color: #53cfc8;
}

.border-primary-600 {
  border-color: #31cfca;
}

.border-primary-700 {
  border-color: #00b6b0;
}

.outline-primary-500 {
  outline-color: #53cfc8;
}

.outline-primary-600 {
  outline-color: #31cfca;
}

.outline-primary-700 {
  outline-color: #00b6b0;
}


.text-brown-200 {
  color: #EBC9B8;
}

.text-brown-300 {
  color: #EBC9B8;
}

.text-brown-500 {
  color: #a67862;
}

.text-brown-600 {
  color: #976d59
}




/* Secondary */
.text-secondary-300 {
  color: #b7f637;
}

.text-secondary-500 {
  color: #9acd32;
}

.text-secondary-600 {
  color: #83b027;
}

.bg-secondary-300 {
  background-color: #b7f637;
}

.bg-secondary-500 {
  background-color: #9acd32;

}

.bg-secondary-600 {
  background-color: #83b027
}


/*  */

.md\:min-h-50v {
  min-height: 50vh;
}

.md\:min-h-40v {
  min-height: 40vh;
}

.md\:min-h-30v {
  min-height: 30vh;
}